@import '../../scss/variables.scss';
@import '../../scss/mixins.scss';








.form {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: $bgcolorblock;
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width:992px){
      flex-direction: column;
      gap:30px;
    }
  }
  &__content {
    p {
      color: $titleclr;
      font-size: 30px;
      font-weight: 800;
      line-height: 38px;
    }
    span {
      color: $descclr;
      font-size: 20px;
      font-weight: 400;
      line-height: 30px;
    }
  }
  form {
    display: flex;
    gap: 15px;
    @media screen and (max-width:475px){
      flex-direction: column;
    }
    input {
      padding: 10px 15px;
      border-radius: 8px;
      outline: none;
      border: 1px solid rgba(208, 213, 221, 1);
      width: 250px;
    }
    button {
      @include green-btn-form-etc;
      font-family: 'Inter';
      padding: 10px 35px;
      cursor: pointer;
    }
    button:hover {
      @include green-btn-hover;
    }
  }
}

