@import '../../scss/mixins.scss';
@import '../../scss/variables.scss';

.offer {
  margin-top: 139px;
  margin-bottom: 95px;
  font-family: 'Kumbh Sans', sans-serif;
  @media screen and (max-width:768px){
    margin-top: 100px;
    }
  .container {
    padding-top: 48px;
    background-color: rgba(16, 24, 40, 0.04);
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:768px){
      flex-direction: column;
      gap: 30px;
       }
  }
  // .offer__left-title
  &__left-title {
    color: $titleclr;
    font-size: 36px;
    font-weight: 800;
    line-height: 45px;
    max-width: 550px;
    padding-bottom: 20px;
    @media screen and (max-width:992px){
      font-size: 30px;
      line-height: 39px;
      }
        @media screen and (max-width:584px){
          font-size: 25px;
          line-height: 35px;
          }
  }
  // .offer__left-subtitle
  &__left-subtitle {
    color: $subtitleclr;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 40px;
    @media screen and (max-width:768px){
      font-size: 15px;
      line-height: 25px;
      }
  }
  // .offer__left-btn
  &__left-btn {
    max-width: 250px;
    a {
      @include green-btn-main;
      padding: 9px 93px;
      
    }
    a:hover {
      @include green-btn-hover;
    }
  }
  // .offer__right-img
  &__right-img {
    img {
      width: 100%;
      max-width: 768px;
    }
  }
}