@import '../../scss/variables.scss';


.footer {
  // .footer_wrapper
  &__wrapper {
    padding-top: 65px;
    padding-bottom: 45px;
    font-family: 'Kumbh Sans', sans-serif;
    width: 100%;
  }
 // .footer__top
 &__top {
  display: flex;
padding-bottom: 64px;
@media screen and 
(max-width:768px){
flex-direction: column;
}
 }
 // .footer_left
 &__left {
  @media screen and 
(max-width:768px){
align-self: center;
order: 2;
margin-top: 15px;
}
 }
   // .footer_left-content
   &__left-content {
      margin-top: 35px;
      font-size: 16px;
      line-height: 24px;
      color: $subtitleclr;
      max-width: 390px;
   }
  //footer__right
  &__right {
    width: 100%;
    display: flex;
    justify-content: space-around;
    @media screen and 
    (max-width:575px){
    flex-direction: column;
    gap:20px;
    }
  }
  // footer__right-menu-title
  &__right-menu-title {
    color: $titleclr;
    font-size: 14px;
    font-weight: 800;
    line-height: 20px;
  }
  // .footer__right-menu
  &__right-menu {
   ul {
    :nth-last-child(n+2) {
      margin-bottom: 12px;
    }
   }
  }
  // .footer__right-menu-link
  &__right-menu-link {
    color: $subtitleclr;
    font-size: 16px;
    line-height: 24px;
  }
  // .footer__bottom 
  &__bottom {
    border-top: 1px solid rgba(228, 231, 236, 1);
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width:475px){
      flex-direction: column;
      gap:20px;
    }
  }
  // .footer__bottom-socials
  &__bottom-socials {
    display: flex;
    gap: 25px;
    img {
      max-width: 24px;
    }
  }
  }
  