//colors
//green btn
$bgbtn: rgba(32, 173, 150, 1);
$btnclr:rgba(255, 255, 255, 1);
$btnhovercolor: rgba(32, 173, 150, 1);
$btnborder: rgba(32, 173, 150, 1);
//title
$titleclr:rgba(51, 52, 97, 1);
//subtitle
$subtitleclr:rgba(74, 85, 108, 0.5);
//desc
$descclr:rgba(74, 85, 108, 1);
//bg block
$bgcolorblock:rgba(250, 248, 246, 1);



